---
---
@charset "utf-8";
// Core variables and mixins
@import "base/variables.scss";
@import "base/mixins.scss";

// Custom colors
$primary: {{ site.data.style.highlight | default: "#fed136" }} !default;
$white: {{ site.data.style.white | default: "#fff" }} !default;
$black: {{ site.data.style.black | default: "#000" }} !default;

// Custom Images
$header-image: "{{ site.data.style.header-image | prepend : site.baseurl }}";
$contact-image: "{{ site.data.style.contact-image | prepend : site.baseurl }}";

// Global CSS
@import "base/page.scss";

// Components
@import "components/buttons.scss";

// Layout
@import "layout/navbar.scss";
@import "layout/masthead.scss";
@import "layout/pagehead.scss";
@import "layout/blog.scss";
@import "layout/services.scss";
@import "layout/portfolio.scss";
@import "layout/timeline.scss";
@import "layout/team.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";
