// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background: #666;
  background: radial-gradient(circle, #666 0%, #444 50%, #222 100%);
  position: relative;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-heading {
      h2 {
        font-size: 2.5em;
        font-weight: 700;
        margin-bottom: 1.3em;
        @include heading-font;
      }
    }
    .intro-lead-in {
      h3 {
        font-size: 1.4em;
        font-weight: 400;
        margin-bottom: 2em;
        @include heading-font;
      }
    }
    .intro-cta {
      font-size: 1em;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 230px;
      padding-bottom: 170px;

      .intro-cta {
        font-size: 1em;
      }
    }
  }
}
