// Styling for the pagehead
header.pagehead {
  background: #666;
  background: radial-gradient(circle, #666 0%, #444 50%, #222 100%);
  position: relative;
  .page-heading {
    h1 {
      p {
        line-height: 1.0;
      }
    }
  }
  .page-heading,
  .post-heading,
  .site-heading {
    padding: 100px 0 50px;
    color: white;
    @media only screen and (min-width: 768px) {
      padding: 150px 0;
    }
  }
  .page-heading,
  .site-heading {
    text-align: center;
    h1 {
      font-size: 50px;
      margin-top: 0;
    }
    .subheading {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0;
      @include serif-font;
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 80px;
      }
    }
  }
  .post-heading {
    h1 {
      font-size: 35px;
    }
    .meta,
    .subheading {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      font-size: 24px;
      font-weight: 600;
      margin: 10px 0 30px;
      @include serif-font;
    }
    .meta {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      @include serif-font;
      a {
        color: $white;
      }
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 55px;
      }
      .subheading {
        font-size: 30px;
      }
    }
  }
}